@model ListViewModel

<div class="bg-dark p-2 text-white text-center">
    <h3><span class="navbar-brand ml-2 badge"> List of @Model.Customers.Count() Customers </span></h3>
</div>
<hr />

@foreach (var customer in Model.Customers)
 {
    <div class="card card-outline-primary m-1 p-1">
        <div class="fg-faded p-1">
            <h4>
                <a asp-action="CustomerDetail" asp-route-id=" @customer.CustomerId"> @customer.FirstName @customer.LastName </a>
            </h4>
        </div>
    </div>
 }

<a asp-controller="Customer" asp-action="AddCustomer" class="btn btn-dark"> Add a new Customer </a>
<hr />

<div page-model="@Model.PagingInformation" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

