@model Employee

<label class="font-weight-bold"> Employee Id: </label> @Model.EmployeeId
<br />
<label class="font-weight-bold"> First Name: </label> @Model.FirstName
<br />
<label class="font-weight-bold"> Last Name: </label> @Model.LastName
<br />
<label class="font-weight-bold"> Hire Date: </label> @Model.HireDate
<br />
<label class="font-weight-bold"> Phone Number: </label> @Model.PhoneNumber
<br />
<label class="font-weight-bold"> Address: </label> @Model.Address
<br />
<label class="font-weight-bold"> City: </label> @Model.City
<br />
<label class="font-weight-bold"> State: </label> @Model.State
<br />
<label class="font-weight-bold"> ZipCode: </label> @Model.ZipCode
<br />
<hr />

<h4> Are You Sure? </h4>
<form method="post">
    <input type="submit" asp-action="DeleteEmployee" class="btn btn-danger" value="Delete" />
    <input type="submit" asp-action="EmployeeDetail" class="btn btn-warning" asp-route-id="@Model.EmployeeId" formmethod="get" value="Cancel" />
</form>
