@model OrderDetail

<table>
    <tr>
        <th class="text-right"> Product Name: </th>
        <td class="p-2"> @Model.Product.ProductName </td>
    </tr>
    <tr>
        <th class="text-right"> Category: </th>
        <td class="p-2"> @Model.Product.Category </td>
    </tr>
    <tr>
        <th class="text-right"> Unit Price: </th>
        <td class="p-2"> @Model.UnitPrice.ToString("C") </td>
    </tr>
    <tr>
        <th class="text-right"> Quantity: </th>
        <td class="p-2"> @Model.Quantity </td>
    </tr>
</table>
<hr />


<a asp-controller="OrderDetail" asp-action="AddOrderDetail" asp-route-orderId="@Model.OrderId" asp-route-product="@Model.ProductId" class="btn btn-primary"> Add a new Item </a>
<a asp-controller="OrderDetail" asp-action="UpdateOrderDetail" asp-route-id="@Model.OrderDetailId" class="btn btn-primary"> Edit OrderDetail </a>
<a asp-controller="OrderDetail" asp-action="DeleteOrderDetail" class="btn btn-primary" asp-route-id="@Model.OrderDetailId"> Delete OrderDetail </a>
<a asp-controller="Order" asp-action="OrderDetail" asp-route-id="@Model.OrderId" class="btn btn-primary"> Back </a>
