@model Product

<table>
    <tr>
        <th class="text-right"> Product Name: </th>
        <td class="p-2"> @Model.ProductName </td>
    </tr>
    <tr>
        <th class="text-right"> Category: </th>
        <td class="p-2"> @Model.Category </td>
    </tr>
    <tr>
        <th class="text-right"> Unit Price: </th>
        <td class="p-2"> @Model.Price.ToString("C") </td>
    </tr>
</table>
<hr />

<a asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@Model.ProductId" class="btn btn-dark"> Edit Product </a>
<a asp-controller="Product" asp-action="DeleteProduct" class="btn btn-dark" asp-route-id="@Model.ProductId"> Delete Product </a>
<a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId" class="btn btn-dark"> Back </a>
