@model Supplier

<table>
    <tr>
        <th class="text-right"> Company Name: </th>
        <td class="p-2"> @Model.CompanyName </td>
    </tr>
    <tr>
        <th class="text-right"> Contact Name: </th>
        <td class="p-2"> @Model.ContactName </td>
    </tr>
    <tr>
        <th class="text-right"> Contact Email: </th>
        <td class="p-2"> @Model.ContactEmail </td>
    </tr>
    <tr>
        <th class="text-right"> Contact Number : </th>
        <td class="p-2"> @Model.ContactPhone </td>
    </tr>
</table>
<hr />


<a asp-controller="Supplier" asp-action="UpdateSupplier" asp-route-id="@Model.SupplierId" class="btn btn-primary"> Edit Supplier </a>
<a asp-controller="Supplier" asp-action="DeleteSupplier" class="btn btn-danger" asp-route-id="@Model.SupplierId"> Delete Supplier </a>
<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.SupplierId" class="btn btn-warning"> Back </a>
