@model SalesOrder

<label class="font-weight-bold"> Order Id: </label> @Model.OrderId
<br />
<label class="font-weight-bold"> Employee Id: </label> @Model.EmployeeId
<br />
<label class="font-weight-bold"> Customer Id: </label> @Model.CustomerId
<br />
<label class="font-weight-bold"> OrderDetail Id: </label> @Model.OrderDetailId
<br />
<label class="font-weight-bold"> Sales Amount: </label> @Model.SalesAmount.ToString("C")
<br />
<label class="font-weight-bold"> Order Date: </label> @Model.OrderDate
<br />
<label class="font-weight-bold"> Shipped Date: </label> @Model.ShippedDate
<br />
<label class="font-weight-bold"> Address: </label> @Model.ShipAddress
<br />
<label class="font-weight-bold"> City: </label> @Model.ShipCity
<br />
<label class="font-weight-bold"> State: </label> @Model.State
<br />
<label class="font-weight-bold"> ZipCode: </label> @Model.Zipcode
<br />
<hr />


<a asp-controller="SalesOrder" asp-action="UpdateSalesOrder" asp-route-id="@Model.OrderId" class="btn btn-dark"> Edit SalesOrder </a>
<a asp-controller="SalesOrder" asp-action="DeleteSalesOrder" class="btn btn-dark" asp-route-id="@Model.OrderId"> Delete SalesOrder </a>
<a asp-controller="SalesOrder" asp-action="Index" asp-route-id="@Model.OrderId" class="btn btn-dark"> Back </a>
